/.idea/uiDesigner.xml
/target/test-classes/PUT_PATCH_Test.class
/target/test-classes/POST_Test.class
/pom.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/target/test-classes/GET_Test.class
/.idea/compiler.xml
/.idea/.gitignore
